In [11]:
from datetime import datetime
from pyspark.sql import SparkSession

spark = (SparkSession.builder.appName("pyspark-rdd-demo-{}".format(datetime.today()))
        .master("spark://spark-master:7077")      
        .getOrCreate())

# spark.sparkContext.getConf().getAll()

In [12]:
silver_products = spark.read.format("parquet").load("s3a://warehouse/silver/tiki/products.parquet")

Py4JJavaError: An error occurred while calling o148.load.
: java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:499)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:480)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:833)

The currently active SparkContext was created at:

(No active SparkContext.)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:122)
	at org.apache.spark.SparkContext.defaultParallelism(SparkContext.scala:2707)
	at org.apache.spark.sql.execution.datasources.SchemaMergeUtils$.mergeSchemasInParallel(SchemaMergeUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat$.mergeSchemasInParallel(ParquetFileFormat.scala:497)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetUtils$.inferSchema(ParquetUtils.scala:132)
	at org.apache.spark.sql.execution.datasources.parquet.ParquetFileFormat.inferSchema(ParquetFileFormat.scala:79)
	at org.apache.spark.sql.execution.datasources.DataSource.$anonfun$getOrInferFileFormatSchema$11(DataSource.scala:208)
	at scala.Option.orElse(Option.scala:447)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:205)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:407)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:186)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)

In [4]:
silver_products.toPandas()['authors']

0        []
1        []
2        []
3        []
4        []
         ..
11120    []
11121    []
11122    []
11123    []
11124    []
Name: authors, Length: 11125, dtype: object

In [3]:
from pyspark.sql.functions import col, explode
exploded_authors = silver_products.withColumn("author", explode(col("authors")))

In [5]:
exploded_authors.toPandas()['author']

0        {'name': None, 'id': 21038}
1        {'name': None, 'id': 63949}
2         {'name': None, 'id': 1178}
3       {'name': None, 'id': 143619}
4       {'name': None, 'id': 149823}
                   ...
631    {'name': None, 'id': 8249934}
632      {'name': None, 'id': 25537}
633    {'name': None, 'id': 7476405}
634    {'name': None, 'id': 8249934}
635     {'name': None, 'id': 611193}
Name: author, Length: 636, dtype: object

In [15]:
from pyspark.sql.functions import col, explode

select_columns = [
    'category_id', 'product_id', 'seller_id', 'brand_id', 'product_name', 'description','specifications',
    'breadcrumbs','original_price', 'discount', 'price', 'discount_rate', 'quantity_sold', 'rating_average',
    'review_count', 'day_ago_created', 'product_url', 'is_authentic', 'is_freeship_xtra',
    'is_top_deal', 'return_reason', 'inventory_type', 'warranty_period', 'warranty_type', 'warranty_location'
]

gold_products = silver_products.select(*select_columns)

exploded_authors = silver_products.withColumn("author_id", explode(col("authors_id"))) \
                                  .withColumn("author_name", explode(col("authors_name")))

gold_authors = exploded_authors.select("author_id", "author_name") \
                               .drop_duplicates(["author_id"]) \
                               .dropna()

product_author_pairs = silver_products.withColumn("author_id", explode(col("authors_id"))) \
                                      .withColumn("author_name", explode(col("authors_name"))) \
                                      .select("product_id", "seller_id", "author_id")
gold_products_authors = product_author_pairs.drop_duplicates()

gold_authors

DataFrame[author_id: bigint, author_name: string]

In [47]:
# Register the DataFrame as a temporary SQL view
silver_products.createOrReplaceTempView("silver_products")

# Run SQL query
result = spark.sql("SELECT * FROM silver_products WHERE product_id = 11505582")

# Show the result
result.toPandas()['authors_name']

0    [Daniel Goleman, Morten Hansen, Harvard Busine...
Name: authors_name, dtype: object

In [16]:
# Register the DataFrame as a temporary SQL view
gold_authors.createOrReplaceTempView("gold_authors_view")

# Run SQL query
result = spark.sql("SELECT * FROM gold_authors_view WHERE author_name = 'Daniel Goleman'")

# Show the result
result.show()

+---------+--------------+
|author_id|   author_name|
+---------+--------------+
|     3407|Daniel Goleman|
|   144149|Daniel Goleman|
|   172475|Daniel Goleman|
|   172509|Daniel Goleman|
|   304427|Daniel Goleman|
|   309375|Daniel Goleman|
|   310039|Daniel Goleman|
+---------+--------------+

In [32]:
users = spark.read.format("parquet").load("s3a://warehouse/gold/tiki/users.parquet")

In [3]:
sellers = spark.read.format("parquet").load("s3a://warehouse/silver/tiki/sellers.parquet")

In [5]:
sellers.toPandas()['store_level'].unique()

array(['OFFICIAL_STORE', 'NONE', 'TRUSTED_STORE'], dtype=object)

In [33]:
from pyspark.sql.functions import col, lit, when, from_unixtime, udf, explode
from pyspark.sql.types import IntegerType

In [5]:
products = spark.read.format("parquet").load("s3a://warehouse/gold/tiki/products.parquet")
# products = products.toPandas()
# products.info()

In [23]:
from pyspark.sql.functions import when, col, isnan

products = products.withColumn(
    "warranty_type",
    when(isnan(col("warranty_type")) | col("warranty_type").isNull(), "Không bảo hành")
    .otherwise(col("warranty_type"))
)

products = products.withColumn(
    "warranty_location",
    when(isnan(col("warranty_location")) | col("warranty_location").isNull(), "Không bảo hành")
    .otherwise(col("warranty_location"))
)
products = products.withColumn(
    "return_reason",
    when(col("return_reason") == "any_reason", "Bất cứ lý do gì")
    .when(col("return_reason") == "defective_product", "Sản phẩm hư hỏng")
    .when((col("return_reason") == "no_return") | col("return_reason").isNull(), "Không đổi trả")
    .otherwise(col("return_reason"))
)

# Hiển thị kết quả
products.toPandas()['return_reason'].value_counts()

return_reason
Bất cứ lý do gì     9455
Sản phẩm hư hỏng    1328
Không đổi trả        342
Name: count, dtype: int64

In [4]:
products = products.filsplna("Không bảo hành", subset=["warranty_type", "warranty_location"])
# products_spark_df = products_spark_df.fillna("no_return", subset=["return_reason"])
# products_spark_df = products_spark_df.fillna(0, subset=["quantity_sold"])

TypeError: DataFrame.fillna() got an unexpected keyword argument 'subset'

In [6]:
products_pd = products.toPandas()

# products_pd[products_pd['warranty_type'] == 'NaN']
products_pd['warranty_type'].value_counts()

warranty_type
Không bảo hành    7136
Điện tử           1528
Hóa đơn           1291
Phiếu bảo hành     774
Tem bảo hành       396
Name: count, dtype: int64

In [4]:
img_url = spark.read.format("parquet").load("s3a://warehouse/gold/tiki/images_url.parquet")
img_url = img_url.toPandas()
img_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69309 entries, 0 to 69308
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  69309 non-null  int64
 1   seller_id   69309 non-null  int64
 2   image_url   69309 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.6+ MB

In [5]:
img_url.head()

   product_id  seller_id                                          image_url
0      122012          1  https://salt.tikicdn.com/ts/product/24/85/1a/7...
1      122012          1  https://salt.tikicdn.com/media/catalog/product...
2      122012          1  https://salt.tikicdn.com/media/catalog/product...
3      122012          1  https://salt.tikicdn.com/media/catalog/product...
4      122012          1  https://salt.tikicdn.com/media/catalog/product...

In [35]:
users = users.toPandas()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133909 entries, 0 to 133908
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       133909 non-null  int64
 1   user_name     133054 non-null  object
 2   avatar_url    133909 non-null  object
 3   joined_day    133909 non-null  int32
 4   joined_time   133869 non-null  object
 5   total_review  133869 non-null  float64
 6   total_thank   133869 non-null  float64
dtypes: float64(2), int32(1), int64(1), object(3)
memory usage: 6.6+ MB

In [36]:
users['avatar_url'].value_counts()

avatar_url
//tiki.vn/assets/img/avatar.png                                                                                                                                                                                                                                       97664
http://s120.avatar.talk.zdn.vn/default                                                                                                                                                                                                                                   17
https://s120.avatar.talk.zdn.vn/default                                                                                                                                                                                                                                  11
https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-1/c59.0.200.200a/p200x200/10733713_10150004552801937_4553731092814901385_o.jpg?_nc_cat=1&_nc_sid=12b3be&_nc_ohc=kbRb-3obZ7MAX9TZwXo&_nc_ht=scontent-iad3-1.xx&oh=53c874b14b5499a854349017c7a0b7f6&oe=5EB5F4F5                2
https://scontent.xx.fbcdn.net/v/t1.0-1/c59.0.200.200a/p200x200/10645251_10150004552801937_4553731092814901385_n.jpg?_nc_cat=1&_nc_ohc=MmqVv0KK-pYAQn91U9qlCrzC7Nkttsfka0CXqIxU-_lDjdfjyL7YNnQnQ&_nc_ht=scontent.xx&oh=a5f46d3b20dcb81c798a260189ca12cd&oe=5E6E4C12        2
                                                                                                                                                                                                                                                                      ...
https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=2165237913488814&height=200&width=200&ext=1571229060&hash=AeRdHEQ7jBMO-FA_                                                                                                                                 1
https://graph.facebook.com/v3.3/748213385609581/picture?type=large&return_ssl_resources=1                                                                                                                                                                                 1
https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=344422659771148&height=200&width=200&ext=1571227296&hash=AeSnz6_tIjbmIfyL                                                                                                                                  1
https://graph.facebook.com/v3.3/1288775367970187/picture?type=large&return_ssl_resources=1                                                                                                                                                                                1
https://salt.tikicdn.com/cache/512x512/ts/avatar/a3/9c/e1/81bd2927e340c44c8c3d330cdb6f0c70.png                                                                                                                                                                            1
Name: count, Length: 36218, dtype: int64